{% extends 'layouts/main.html' %}
{% block title %}20/20 Vision{% endblock %}
{% block content %}

<div class="page-header">
  <h1>20/20 Vision</h1>
</div>
<div>  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <div class="container">
      <h2>Instructions</h2>
      <p>Something something .............. blah....blah....blah............</p>
      <br>
      <!-- <textarea id="results" cols="80" rows="5"></textarea> -->
 
      <!-- <script src="https://code.responsivevoice.org/responsivevoice.js"></script>
      <input onclick="responsiveVoice.speak('Hello World');" type="button" value="Play" /> -->
    
    <div id="testBox">
      <img id='cur_img' src="static/img/a_1.jpg" />
      
      <form action="" method="post" role="form">
        <div class="form-group">
          <label for="name">Enter what you see:</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="What do you see?">
          
          <input type="text" class="form-control" id="hidden_img" name='hidden_img'  value style="display:none;" >
          
      
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>

    <div id='successAlert' class="alert alert-success" role="alert" style="display:none;"></div>
    <div id='errorAlert' class="alert alert-error" role="alert" style="display:none;"></div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    
    {% for message in messages %}
    {% if "Error" not in message[1]: %}
    <div class="alert alert-info">
        <strong>Success! </strong> {{ message[1] }}</div>
    {% endif %}
    
    {% if "Error" in message[1]: %}
    <div class="alert alert-warning">
                    {{ message[1] }}</div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
  <h2>Suggestions and Tips to improve your vision</h2>
  <p>Something something ..............</p>

  </div>

</div>
{% endblock %}
