{% extends 'layouts/main.html' %}
{% block title %}20/20 Vision{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Vision Acuity</h1>
</div>
<div>  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <div class="container">
      <!-- <h2>Instructions</h2>
      <p>Something something .............. blah....blah....blah............</p>
      <br> -->
      <!-- <textarea id="results" cols="80" rows="5"></textarea> -->
 
      <!-- <script src="https://code.responsivevoice.org/responsivevoice.js"></script>
      <input onclick="responsiveVoice.speak('Hello World');" type="button" value="Play" /> -->
      <style>
          * {
            font-family: Verdana, Arial, sans-serif;
          }
          a:link {
            color:#000;
            text-decoration: none;
          }
          a:visited {
            color:#000;
          }
          a:hover {
            color:#33F;
          }
          .button {
            background: -webkit-linear-gradient(top,#008dfd 0,#0370ea 100%);
            border: 1px solid #076bd2;
            border-radius: 3px;
            color: #fff;
            display: none;
            font-size: 13px;
            font-weight: bold;
            line-height: 1.3;
            padding: 8px 25px;
            text-align: center;
            text-shadow: 1px 1px 1px #076bd2;
            letter-spacing: normal;
          }
          .center {
            padding: 10px;
            text-align: center;
          }
          .final {
            color: black;
            padding-right: 3px; 
          }
          .interim {
            color: gray;
          }
          .info {
            font-size: 14px;
            text-align: center;
            color: #777;
            display: none;
          }
          .right {
            float: right;
          }
          .sidebyside {
            display: inline-block;
            width: 45%;
            min-height: 40px;
            text-align: left;
            vertical-align: top;
          }
          #headline {
            font-size: 40px;
            font-weight: 300;
          }
          #info {
            font-size: 20px;
            text-align: center;
            color: #777;
            visibility: hidden;
          }
          #results {
            font-size: 14px;
            font-weight: bold;
            border: 1px solid #ddd;
            padding: 15px;
            text-align: left;
            min-height: 10px;
          }
          #start_button {
            border: 0;
            background-color:transparent;
            padding: 0;
          }
        </style>
        <div id="info">
          <p id="info_start">Click on the microphone icon and start speaking out loud while you can read letters. Once you are unable to read letters, say "Stop". To start first cover your right eye and read with left only. After that close your left eye and read with right only.  </p>
          <p id="info_speak_now">Speak now.</p>
          <p id="info_left_eye">Eye : Left (Cover your right eye)</p>
          <p id="info_right_eye">Eye : Right (Cover your left eye)</p>
          <p id="info_no_speech">No speech was detected. You may need to adjust your
            <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">
              microphone settings</a>.</p>
          <p id="info_no_microphone" style="display:none">
            No microphone was found. Ensure that a microphone is installed and that
            <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">
            microphone settings</a> are configured correctly.</p>
          <p id="info_allow">Click the "Allow" button above to enable your microphone.</p>
          <p id="info_denied">Permission to use microphone was denied.</p>
          <p id="info_blocked">Permission to use microphone is blocked. To change,
            go to chrome://settings/contentExceptions#media-stream</p>
          <p id="info_upgrade">Web Speech API is not supported by this browser.
             Upgrade to <a href="//www.google.com/chrome">Chrome</a>
             version 25 or later.</p>
        </div>
        <br>
        <br>
        <div class="left">
            <button id="le_button" onclick="leButton(event)">
            <img id="start_img" src="/static/img/eye.jpg" alt="Start" height="52" width="62">Left EYE</button>
        <div class="right">            
            <button id="re_button" onclick="reButton(event)">
            <img id="start_img" src="/static/img/eye.jpg" alt="Start" height="52" width="62">Right Eye</button>
        </div>

        <div class="center">
          <!-- <div class="sidebyside" style="text-align:right">
            <button id="copy_button" class="button" onclick="copyButton()">
              Copy and Paste</button>
            <div id="copy_info" class="info">
              Press Control-C to copy text.<br>(Command-C on Mac.)
            </div>
          </div>
          <div class="sidebyside">
            <button id="email_button" class="button" onclick="emailButton()">
              Create Email</button>
            <div id="email_info" class="info">
              Text sent to default email application.<br>
              (See chrome://settings/handlers to change.)
            </div>
          </div> -->
          <p>
          <div id="div_language">
            <select id="select_language" onchange="updateCountry()"></select>
            &nbsp;&nbsp;
            <select id="select_dialect"></select>
          <!-- </div> -->
        <!-- </div> -->
        <!-- <div class="right"> -->
          <button id="start_button" onclick="startButton(event)">
            <img id="start_img" src="/static/img/mic.png" alt="Start" height="52" width="62"></button>
        </div>
        <div id="results"  >
          <span id="final_span" class="final" value style="display:none;"></span>
          <span id="interim_span" class="interim" value ></span>
          <p>
        </div>
        
  <script >
  var langs =
        [['Afrikaans',       ['af-ZA']],
         ['Bahasa Indonesia',['id-ID']],
         ['Bahasa Melayu',   ['ms-MY']],
         ['Català',          ['ca-ES']],
         ['Čeština',         ['cs-CZ']],
         ['Deutsch',         ['de-DE']],
         ['English',         ['en-AU', 'Australia'],
                             ['en-CA', 'Canada'],
                             ['en-IN', 'India'],
                             ['en-NZ', 'New Zealand'],
                             ['en-ZA', 'South Africa'],
                             ['en-GB', 'United Kingdom'],
                             ['en-US', 'United States']],
         ['Español',         ['es-AR', 'Argentina'],
                             ['es-BO', 'Bolivia'],
                             ['es-CL', 'Chile'],
                             ['es-CO', 'Colombia'],
                             ['es-CR', 'Costa Rica'],
                             ['es-EC', 'Ecuador'],
                             ['es-SV', 'El Salvador'],
                             ['es-ES', 'España'],
                             ['es-US', 'Estados Unidos'],
                             ['es-GT', 'Guatemala'],
                             ['es-HN', 'Honduras'],
                             ['es-MX', 'México'],
                             ['es-NI', 'Nicaragua'],
                             ['es-PA', 'Panamá'],
                             ['es-PY', 'Paraguay'],
                             ['es-PE', 'Perú'],
                             ['es-PR', 'Puerto Rico'],
                             ['es-DO', 'República Dominicana'],
                             ['es-UY', 'Uruguay'],
                             ['es-VE', 'Venezuela']],
         ['Euskara',         ['eu-ES']],
         ['Français',        ['fr-FR']],
         ['Galego',          ['gl-ES']],
         ['Hrvatski',        ['hr_HR']],
         ['IsiZulu',         ['zu-ZA']],
         ['Íslenska',        ['is-IS']],
         ['Italiano',        ['it-IT', 'Italia'],
                             ['it-CH', 'Svizzera']],
         ['Magyar',          ['hu-HU']],
         ['Nederlands',      ['nl-NL']],
         ['Norsk bokmål',    ['nb-NO']],
         ['Polski',          ['pl-PL']],
         ['Português',       ['pt-BR', 'Brasil'],
                             ['pt-PT', 'Portugal']],
         ['Română',          ['ro-RO']],
         ['Slovenčina',      ['sk-SK']],
         ['Suomi',           ['fi-FI']],
         ['Svenska',         ['sv-SE']],
         ['Türkçe',          ['tr-TR']],
         ['български',       ['bg-BG']],
         ['Pусский',         ['ru-RU']],
         ['Српски',          ['sr-RS']],
         ['한국어',            ['ko-KR']],
         ['中文',             ['cmn-Hans-CN', '普通话 (中国大陆)'],
                             ['cmn-Hans-HK', '普通话 (香港)'],
                             ['cmn-Hant-TW', '中文 (台灣)'],
                             ['yue-Hant-HK', '粵語 (香港)']],
         ['日本語',           ['ja-JP']],
         ['Lingua latīna',   ['la']]];
        for (var i = 0; i < langs.length; i++) {
          select_language.options[i] = new Option(langs[i][0], i);
        }
        select_language.selectedIndex = 6;
        updateCountry();
        select_dialect.selectedIndex = 2;
        showInfo('info_start');
        function updateCountry() {
          for (var i = select_dialect.options.length - 1; i >= 0; i--) {
            select_dialect.remove(i);
          }
          var list = langs[select_language.selectedIndex];
          for (var i = 1; i < list.length; i++) {
            select_dialect.options.add(new Option(list[i][1], list[i][0]));
          }
          select_dialect.style.visibility = list[1].length == 1 ? 'hidden' : 'visible';
        }
        var create_email = false;
        var final_transcript = '';
        var recognizing = false;
        var ignore_onend;
        var start_timestamp;
        var le_flag = true;
        var re_flag = false;
        var le_counter=0
        var re_counter=0
        var counter=0
        function showResults(){
          leftResult = le_counter;
          rightResult = re_counter;
          le_button.style.visibility = 'visible';
          le_counter/=2;
          re_counter/=2;
          document.getElementById('result20').innerHTML='<p style="font-size:33px;"> LEFT EYE :'
            +le_counter+'/6, RIGHT EYE :'+re_counter+'/6<br>Healthy eyes should score 6/6 for both eyes.<br>'+
            '<h2 > <a href="{{ url_for("color_vision") }}">Proceed To Color Vision Test</a></li></h2></p>'
          
        }
        if (!('webkitSpeechRecognition' in window)) {
          upgrade();
        } else {
          start_button.style.display = 'inline-block';
          var recognition = new webkitSpeechRecognition();
          recognition.continuous = true;
          recognition.interimResults = true;
          recognition.onstart = function() {
            recognizing = true;
            showInfo('info_speak_now');
            // showInfo('info_left_eye');
            start_img.src = 'static/img/mic-animate.jpeg';
          };
          recognition.onerror = function(event) {
            if (event.error == 'no-speech') {
              start_img.src = 'static/img/mic.png';
              showInfo('info_no_speech');
              ignore_onend = true;
            }
            if (event.error == 'audio-capture') {
              start_img.src = 'static/img/mic.png';
              showInfo('info_no_microphone');
              ignore_onend = true;
            }
            if (event.error == 'not-allowed') {
              if (event.timeStamp - start_timestamp < 100) {
                showInfo('info_blocked');
              } else {
                showInfo('info_denied');
              }
              ignore_onend = true;
            }
          };
          recognition.onend = function() {
            recognizing = false;
            if (ignore_onend) {
              return;
            }
            start_img.src = 'static/img/mic.png';
            if (!final_transcript) {
              showInfo('info_start');
              return;
            }
            showInfo('');
            if (window.getSelection) {
              window.getSelection().removeAllRanges();
              var range = document.createRange();
              range.selectNode(document.getElementById('final_span'));
              window.getSelection().addRange(range);
            }
            // if (create_email) {
            //   create_email = false;
            //   createEmail();
            // }
          };
          recognition.onresult = function(event) {
            var interim_transcript = '';
            for (var i = event.resultIndex; i < event.results.length; ++i) {
              if (event.results[i].isFinal) {
                final_transcript += event.results[i][0].transcript;
        // This is the line where the dump happens 
                // final_transcript += ".";
              } else {
                interim_transcript += event.results[i][0].transcript;
              }
              // console.log('final'+final_transcript)
              // console.log(interim_transcript)
              document.getElementById('name').value = document.getElementById('interim_span').innerHTML
              var x = document.getElementById('name').value
              console.log('X: '+x+' LENGTH : ',x.length)
              x=x.trim()
              if(x=='stop'){
                console.log('STOP>>>>>>>'+le_flag+'   '+re_flag)
                if(re_flag) showResults()
                if(le_flag) setTimeout(function(){ showInfo(info_right_eye);reButton() }, 500);
              }
              if(x.length <= 2 && x.length >0){
                // document.getElementById('form').submit()
                change_img(x)
              }
            }
            
            final_span.innerHTML = linebreak(final_transcript);
            interim_span.innerHTML = linebreak(interim_transcript);
            if (final_transcript || interim_transcript) {
              showButtons('inline-block');
            }
          };
        }
        
        function leButton(){
          le_flag =true;
          re_flag = false;
          re_button.style.visibility = 'hidden';
          showInfo('info_left_eye')
          console.log('LEFT FLAG>>>>>>>'+le_flag+'   '+re_flag)
          document.getElementById("cur_img").src='http://localhost:5000/static/img/a1_k.jpg'
          // recounter = 0
        }
        function reButton(){
          le_flag =false;
          re_flag = true;
          re_button.style.visibility = 'visible';
          le_button.style.visibility = 'hidden';
          showInfo('info_right_eye')
          console.log('RIGHT FLAG>>>>>>>'+le_flag+'   '+re_flag)
          document.getElementById('result20').innerHTML='<img id="cur_img" src="static/img/a1_k.jpg" />'
          document.getElementById("cur_img").src='http://localhost:5000/static/img/a1_k.jpg'

          // lecounter = 0
        }
        function change_img(str){
          console.log('CHANGE IMG Called')
          var x  = document.getElementById("cur_img").src.split('/')
          var y = x[x.length-1].split('.')
          var z = y[y.length-2].split('_')
          var cur_img = z[z.length-1]
          var counter = 0;
          console.log('X :'+x)
          console.log('Y :'+y)
          console.log('Z :'+z)
          console.log('CI :'+cur_img+' LT :'+str)
          var image_dict={
              'a1_k.jpg'  :'a2_x.jpg',
              'a2_x.jpg'  :'a3_w.jpg',
              'a3_w.jpg'  :'a4_m.jpg',
              'a4_m.jpg'  :'a5_z.jpg',
              'a5_z.jpg'  :'a6_p.jpg',
              'a6_p.jpg'  :'a7_n.jpg',
              'a7_n.jpg'  :'a8_a.jpg',
              'a8_a.jpg'  :'a9_w.jpg',
              'a9_w.jpg'  :'a10_l.jpg',
              'a10_l.jpg' :'a11_k.jpg',
              'a11_k.jpg' :'a12_p.jpg',
              'a12_p.jpg' :'a1_k.jpg',
              
          }
   
          str = str.trim();
          cur_img = cur_img.trim();
          console.log('NEW CI :'+cur_img+' LT :'+str)

          if(cur_img === str){
            console.log('matched')
            if(le_flag) le_counter++;
            if(re_flag) re_counter++;
            if(z[0]=='a12' && le_counter==12){
              setTimeout(function(){ showInfo(info_right_eye);reButton() }, 500);
              if(le_flag)  reButton()
              // if(re_flag) leButton()
            }
            else if(re_counter==12){
              showResults();
            }
            document.getElementById("cur_img").src='http://localhost:5000/static/img/'+image_dict[x[x.length-1]]
            recognition.stop();
            setTimeout(function(){ document.getElementById('start_button').click() }, 500);
            console.log('AFTER TIMEOUT')
          }
          else return
        }

        function upgrade() {
          start_button.style.visibility = 'hidden';
          showInfo('info_upgrade');
        }
        var two_line = /\n\n/g;
        var one_line = /\n/g;
        function linebreak(s) {
          return s.replace(two_line, '<p></p>').replace(one_line, '<br>');
        }
        var first_char = /\S/;
        function capitalize(s) {
          return s.replace(first_char, function(m) { return m.toUpperCase(); });
        }
        // function createEmail() {
        //   var n = final_transcript.indexOf('\n');
        //   if (n < 0 || n >= 80) {
        //     n = 40 + final_transcript.substring(40).indexOf(' ');
        //   }
        //   var subject = encodeURI(final_transcript.substring(0, n));
        //   var body = encodeURI(final_transcript.substring(n + 1));
        //   window.location.href = 'mailto:?subject=' + subject + '&body=' + body;
        // }
        // function copyButton() {
        //   if (recognizing) {
        //     recognizing = false;
        //     recognition.stop();
        //   }
        //   // copy_button.style.display = 'none';
        //   // copy_info.style.display = 'inline-block';
        //   showInfo('');
        // }
        // function emailButton() {
        //   if (recognizing) {
        //     create_email = true;
        //     recognizing = false;
        //     recognition.stop();
        //   } else {
        //     createEmail();
        //   }
        //   email_button.style.display = 'none';
        //   email_info.style.display = 'inline-block';
        //   showInfo('');
        // }
        function startButton(event) {
          if (recognizing) {
            recognition.stop();
            return;
          }
          final_transcript = '';
          recognition.lang = select_dialect.value;
          recognition.start();
          ignore_onend = false;
          final_span.innerHTML = '';
          interim_span.innerHTML = '';
          start_img.src = 'static/img/mic-slash.png';
          showInfo('info_allow');
          showButtons('none');
          start_timestamp = event.timeStamp;
        }
        function showInfo(s) {
          if (s) {
            for (var child = info.firstChild; child; child = child.nextSibling) {
              if (child.style) {
                child.style.display = child.id == s ? 'inline' : 'none';
              }
            }
            info.style.visibility = 'visible';
          } else {
            info.style.visibility = 'hidden';
          }
        }
        var current_style;
        function showButtons(style) {
          if (style == current_style) {
            return;
          }
          current_style = style;
          // copy_button.style.display = style;
          // email_button.style.display = style;
          // copy_info.style.display = 'none';
          // email_info.style.display = 'none';
        }
  </script>
        
        
    <div id="testBox">
      <span id='result20'><img id='cur_img' src="static/img/a1_k.jpg" /> </span>
      
      <form action="" method="post" role="form" id='form'>
        <div class="form-group">
          <!-- <label for="name">Enter what you see </label> -->
          <input type="text" class="form-control" id="name" name="name" placeholder="What do you see?" value='' value style="display:none;">
          
          <!-- <input type="text" class="form-control" id="hidden_img" name='hidden_img'  value style="display:none;" >
        </div>
        <button type="submit" class="btn btn-success">Submit</button> -->
      </form>
    </div>

    <div id='successAlert' class="alert alert-success" role="alert" style="display:none;"></div>
    <div id='errorAlert' class="alert alert-error" role="alert" style="display:none;"></div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    
    {% for message in messages %}
    {% if "Error" not in message[1]: %}
    <div class="alert alert-info">
        <strong>Success! </strong> {{ message[1] }}</div>
    {% endif %}
    
    {% if "Error" in message[1]: %}
    <div class="alert alert-warning">
                    {{ message[1] }}</div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
  <!-- <h2>Suggestions and Tips to improve your vision</h2>
  <p>Something something ..............</p> -->

  </div>

</div>
{% endblock %}
