{% extends 'layouts/main.html' %}
{% block title %}Color Vision{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Color Vision</h1>
</div>
<div>  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <div class="container">
      <h2>Instructions</h2>
      <p>Something something .............. blah....blah....blah............</p>
      <br>
    <img id='cur_img' src="static/img/c_1.jpeg" />
    <!-- <h2>Flask Web Form</h2> -->
    
    <form action="" method="post" role="form">
      <div class="form-group">
        <label for="name">Do you see a number:</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="What's your name?">
        
        <input type="text" class="form-control" id="hidden_img" name='hidden_img'  value = {{x}} hidden>
        
    
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <div id='successAlert' class="alert alert-success" role="alert" style="display:none;"></div>
    <div id='errorAlert' class="alert alert-error" role="alert" style="display:none;"></div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    
    {% for message in messages %}
    {% if "Error" not in message[1]: %}
    <div class="alert alert-info">
        <strong>Success! </strong> {{ message[1] }}</div>
    {% endif %}
    
    {% if "Error" in message[1]: %}
    <div class="alert alert-warning">
                    {{ message[1] }}</div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
  
  <h2>Suggestions and Tips to improve your vision</h2>
  <p>Something something ..............</p>
  </div>

</div>
{% endblock %}
