{% extends 'layouts/main.html' %}
{% block title %}Side Vision{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Results</h1>
</div>
<div>  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <div class="container">
      <h5>If your results shows unhealthy eyes, you should definately consult an ophthalmologist near you:</h5>

  	<div style="overflow:hidden;width: 700px;position: relative;"><iframe width="700" height="440" src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=ophthalmologist%20near%20me+(Title)&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a href="https://embedgooglemaps.com/de/">Embedgooglemaps DE</a> & <a href="https://willoughby-pr.co.uk/">gmailbulkemail</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><br />


  	<h3>How to take care of your eyes:</h3>

  	<ul>
  		<li>Eat at least 5 servings daily of fruits and vegetables.</li>
  		<li>Don’t smoke.</li>
  		<li>Take regular breaks while doing computer work and other tasks that mostly involve your eyes.</li>
  		<li>Wear your glasses. This sounds obvious, but many people with low to moderate vision loss leave them at home or tucked in a pocket or purse because of vanity or forgetfulness.</li>
  		<li>Wear sunglasses when out of doors. Wear sunglasses that protect your eyes from UVA and UVB rays. Wear them even on cloudy days.</li>
  		<li>Closely follow the recommended schedule for cleaning and wearing contact lenses.</li>
  		<li>Know your family's eye history and share this information with your healthcare providers.</li>
  		<li>If you have high blood pressure, high cholesterol, or diabetes, make sure these conditions are under control.</li>
  	</ul>
  	<b>Source:</b> <a href="https://www.urmc.rochester.edu/encyclopedia/content.aspx?contenttypeid=1&contentid=1874">University of Rochester Medical Centre.</a>



</div>
{% endblock %}
