{% extends 'layouts/main.html' %}
{% block title %}Distance Measure   {% endblock %}
{% block content %}

<div class="page-header">
  <h1>Distance Measure</h1>
</div>
<div>  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <div class="container">
      <h4 class='center-block'>Please proceed to next section when you are at reasonable distance : 100 cm</h4>

    <img id="bg" class="center-block" src="{{ url_for('video_feed') }}">
    <br>
    <h3 > <a href="{{ url_for('twenty') }}">Proceed To Vision Acuity Test</a></li></h3>
    <br>
  </div>
</div>
{% endblock %}
